<%- include ('../partials/header'); %>
<link rel="stylesheet" type="text/css" href="/styles/utils.css">
<title>Clients</title>
<%- include ('../partials/navbar'); %>


  <h1 class="page_title pt-2">Vendors</h1>

  <%
  if(currentUser.user_permissions === "Administrator"){ %>
	<div class="util-btn my-2">
		<a href="/vendors/add" class="button">Add New Vendor</a>
	  </div>
	  <%
  }
%>
  

  <div class="item_table my_5 table-responsive">
    
	  
      <table class="displayClients table table-striped" id="myTable">
          <thead>
              <tr>
                <th>Organization/Client Last Name:</th>
                <th>Contact Name:</th>
                <th>Jobs:</th>
				<th>Transactions:</th>
				<th>Is Active:</th>
				<th>Utils:</th>
              </tr>
          </thead>

          <tbody class="tableData">
			  
				<% clients.forEach(function(client){ %>
				  	
						<tr>
							<% if (client.organization_name) { %>
							<td><%= client.organization_name %></td>
								<% if (client.last_name) { %>
									<td><%= client.last_name %> <%= client.first_name %> <%= client.middle_name %></td>
								<% } else { %>	
									<td></td>
								<% } %>	
							<% } else { %>
							<td><a href="/clients/<%= client._id %>"><%= client.last_name %></a></td>
							<td><%= client.last_name %>, <%= client.first_name %> <%= client.middle_name %></td>
							<% } %>
							<td><%= client["jobs"].length %></td>
							<td><%= client["transactions"].length %></td>
							<td>
								<% if (client.active) { %>
									Yes
								<% } else { %>
									No
								<% } %>	
							</td>	
							<td>
								<button class="button"><a href="/vendors/<%= client._id %>" style="color: white;">Details</a></button>
							</td>								
						</tr>

			  	<% }) %>
			  
          </tbody>

        </table>
  </div>

<%- include ('../partials/footer'); %>